body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.336);
    display: flex;
    flex-direction: column;
    min-height: 100vh; 

  }


  .header {
    display: flex;
    background-color: #00a2ff;
    color: white;
    overflow: hidden;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  .kuis {
    margin: 20px 0;
    padding: 20px;
    background-color: #ffffff9d;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .q {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  button {
    background-color: #007bff;
    height: 50px;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 100%;
  }
  button:hover {
    background-color: #0056b3;
  }
  .pilihan {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
  }

  .footer {
    background-color: #00a2ff;
    text-align: center;
    padding: 10px;
    color: white;
    margin-top: auto;

  }