body {
    background-image: url('konsis 9.jpg');
    background-repeat: no-repeat;
}

.navbar {
    margin-top: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-top: 20px;
}


.navbar a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
}



.button {
    background-color: rgb(39, 218, 194);
    display: inline-block;
    text-align: center;
    padding: 16px 20px;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 750px;
}


body {
    margin-left: 10px;
    margin-right: 10px;
    font-family: Arial, sans-serif;

}

td {
    text-align: center;
}

.keterangan br {
    margin-top: 10px;
}

th {
    background-color: blue;
    border: 1px solid;
}

td {
    text-align: center;
}

table,
td {
    padding: 10px;
}

.playlist {
    display: inline-block;
    border: 1px solid;
    margin-left: 50px;
    background-color: rgb(221, 155, 235);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

}

ul {
    padding: 30px;
}

p {
    text-align: center;
}

li {
    margin-bottom: 10px;
}

.tbbio td {
    text-align: left;
}