input[type="text"],
input[type="password"],
input[type="reset"],
input[type="submit"],
input[type="date"] {
  margin: 5px;
  width: 300px;
  box-sizing: border-box;
}

textarea {
  margin: 5px;
  width: 300px;
  box-sizing: border-box;
  vertical-align: middle;
}

label {
  display: inline-block;
  width: 130px;
  margin-bottom: 5px;
  vertical-align: middle;
  text-align: left;
}

select {
  margin: 5px;
  width: 300px;
  box-sizing: border-box;
}

body {
  background-image: url('konsis 9.jpg');
  background-repeat: no-repeat;

}

.button {
  background-color: rgb(39, 218, 194);
  display: inline-block;
  text-align: center;
  padding: 16px 20px;
  border-radius: 10px;
  border: 1px solid black;
  text-decoration: none;
  margin-left: 20px;
}
input{
  height: 30px;
}
