body {
  background-image: url('konsis 9.jpg');
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: rgb(39, 218, 194);
  display: inline-block;
  text-align: center;
  padding: 16px 20px;
  border-radius: 10px;
  border: 1px solid black;

}

a {
  text-decoration: none;
  color: black;
}


.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}




.form-container label {
  display: block;
  margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

.form-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}



.submit-btn {
  background-color: #00fff2;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {

  background-color: #00ccff;
}



.forgot-password {
  background-color: transparent;
  border: none;
  color: #008CBA;
  cursor: pointer;
}



hr {
  margin-top: 20px;
}